<%- include ('partials/homenavbar.ejs') %>
<%- include ('partials/header.ejs') %>
<body>
    <div class="container">
      <a class="btn btn-light" href="/game">Jogar</a>
      <a class="btn btn-light" href="/profile">Profile</a>
    </div>
</body>

<%- include ('partials/footer.ejs') %>