<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register/styles.css">
</head>
<!-- <div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de usuário<h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/users/signup">
                <input class="form-control" name="username" type="text" placeholder="username"><br>
                <input class="form-control" name="email" type="email" placeholder="email@example.com"><br>
                <input class="form-control" name="password" type="password" placeholder="*******"><br>
                <button type="submit" class="btn btn-info">Criar</button>
                <a class="btn btn-dark" href="/">Cancelar</a>
            </form>
        </div>
    </div>

</div> -->

<body>
    
    <div class="container">
        <div class="card mt-5">
    
            <div class="card-header">
                <div class="div-logo">
                    <img src="/images/landing.png" alt="Landing" class="landing">
                 </div>
            <div class="card-body">
                <form method="POST" action="/users/signup">
                    <h4>Cadastro</h4>
                    <hr>
                    <input class="form-control" name="username" type="text" placeholder="username"><br>
                    <input class="form-control" name="email" type="email" placeholder="email@example.com"><br>
                    <input class="form-control" name="password" type="password" placeholder="*******"><br>
                    <label for="checkbox">Ja adquire/adquiriu serviços pagos em jogos?</label>
                    <input type="radio" id="sim" name="consume" value="sim">
                    <label for="sim">Sim</label>
                    <input type="radio" id="nao" name="consume" value="nao">
                    <label for="nao">Não</label><br>
                    <hr>
                    <div class="div-button">
                        <button type="submit" class="btn btn-light">Cadastrar</button>
                        <a class="btn btn-light" href="/">Cancelar</a>                  
                    </div>
                </form>                  
            </div>
        </div>  
    
    </div>

</body>