<%- include ('../../partials/homenavbar.ejs') %>
<%- include ('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de usuário<h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/users/signup">
                <input class="form-control" name="username" type="text" placeholder="username"><br>
                <input class="form-control" name="email" type="email" placeholder="email@example.com"><br>
                <input class="form-control" name="password" type="password" placeholder="*******"><br>
                <button type="submit" class="btn btn-info">Criar</button>
                <a class="btn btn-dark" href="/">Cancelar</a>
            </form>
        </div>
    </div>

</div>

<%- include ('../../partials/footer.ejs') %>